body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

#game-container {
    text-align: center;
}

canvas {
    background-color: #fff;
    border: 1px solid #000;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
